body {
  background-image: url(/img/ambulance.png);
}

.output {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail {
  display: flex;
  width: 18em;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.noResult, .errorOutput, #searchStore {
  display: none;
}

button {
  display: block;
  margin-left: 45%;
  margin-right: 45%;
  background-color: #F04A4A;
}

form {
  text-align: center;
}

.format, .output {
  background-color: #ecd5d5f5;
}
