.output {
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.thumbnail {
  display: flex;
  width: 18em;
  margin-bottom: 1.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.noResult, .errorOutput, #searchStore {
  display: none;
}
